<!-- 

<h1 class="text-center">cart item</h1>
<img class="mx-auto d-block" src="../assets/apple.jpg" >
<h3 class="text-center" >Rs{{price}}</h3>

<h4 class="text-danger text-center">{{warning}}</h4>

<div class="text-center">
<button class="btn btn-danger  mx-auto " (click)="clickoff()">-</button><button class="btn btn-success px-5  mx-auto">{{count}}</button>
<button class="btn btn-danger  mx-auto " (click)="clickon()">+</button>

<h5 >TOTAL PRICE:Rs{{price*count}}</h5>
<input type="text" [(ngModel)]="user">
<div class="ss">{{user}}</div>

</div> -->

<div class=" container text-center mx-auto d-flex row ">
        
  <div class="form-group col-4 ">
          <label>name</label>
<input type="text" class="form-control" [(ngModel)]="name">
  </div>
  <div class="form-group col-4">
      <label>price</label>
<input type="number" class="form-control" [(ngModel)]="price">
</div> . <div class="form-group col-3">
<label>Quantity</label>
<input type="number" class="form-control" [(ngModel)]="count">
</div> 
</div>
<div class=" text-center ">
<button class="btn btn-info btn-middle " (click)="show()">click here</button>
</div>


<h2 class="text-center"><b>non veg list:</b></h2>
<table class="table table-bordered table-dark w-50 m-auto">

<thead class="text-center">
  <tr>
  <td><b>non veg</b></td>
  <td><b>price</b></td>
  <td><b>total</b></td>
</tr>
</thead>

<tbody>
  <tr class= "text-center" *ngFor="let s of stater">
      <td>{{s.name}}</td>
      <td>Rs{{s.price}}</td>
         <td>{{s.price*s.count}}  <button class="btn btn-danger" (click)="del()">x</button></td>
  </tr>
 
</tbody>

</table>







